.photo-grid {
    font-family: 'Inter', Arial, sans-serif;
    max-width: 1184px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    margin: 0 auto;
    gap: 16px;
    padding: 0 0 92px 0;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        max-width: 720px;
        gap: 16px;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: 540px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        padding-bottom: 76px;
    }
}
@media screen and (max-width: 600px) {
    .photo-grid {
        max-width: 380px;
    }
}

@media screen and (max-width: 450px) {
    .photo-grid {
        max-width: 288px;
        gap: 12px;
        padding-bottom: 64px;
    }
}