.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    color: #FFFFFF;
    margin: 32px 0 64px 0;
    max-width: 640px;
}

@media screen and (max-width: 1150px) {
    .lead__subtitle {
        margin-top: 32px;
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 740px) {
    .lead__subtitle {
        font-size: 26px;
        line-height: 30px;
        max-width: 420px;
    }
}

@media screen and (max-width: 540px) {
    .lead__subtitle {
        font-size: 20px;
        line-height: 25px;
        max-width: 350px;
    }
}

@media screen and (max-width: 450px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
        margin-bottom: 40px;
        max-width: 288px;
    }
}
