.area-footer {
    margin: 0 auto;
}

@media screen and (max-width: 750px) {
    .area-footer {
        max-width: 700px;
    }
}

@media screen and (max-width: 700px) {
    .area-footer {
        max-width: 650px;
    }
}


@media screen and (max-width: 650px) {
    .area-footer {
        max-width: 540px;
    }
}

@media screen and (max-width: 540px) {
    .area-footer {
        max-width: 450px;
    }
}

@media screen and (max-width: 450px) {
    .area-footer {
        max-width: 350px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 350px) {
    .area-footer {
        max-width: 288px;
        margin: 0 auto;
    }
}